<% StaticPagesPresenter.new(self) do |static_pages_presenter| %>
  <div class="row">
    <div class="small-12 columns">
      <h1>What Key Am I In?</h1>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.username %></strong>.
        </br>
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        </br></br>
        <%= static_pages_presenter.is_admin %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
      </br></br>
      <%= static_pages_presenter.can_edit_notes %>
    </div>
  </div>
<% end %>